


.container{
  max-width: 420px; 
  min-height: 400px;
  margin: 0 auto;
  background-color: #efefef;
  box-shadow: 0 0 10px gray;
  margin-top: 50px;
  padding: 10 50px;
}

.text-centre{
  text-align: centre;
}
.income-and-expense{
  display: flex;
  justify-content: space-around;
  background-color: white;
  box-shadow: 0 0 10px gray;
}
.transaction-list input{
    margin: 0;
    padding: 0;
}    
.transaction-list > li{
  display: flex;
  justify-content: space-between;
  padding: 5px 2px;
  background-color: white;
  margin: 5px 0;



  
}
.transaction-form input{
  width: 100%;
  margin: 10px 0;
  padding: 5px 0;
  


}

